# Ficheiros gerados automaticamente
*.ufo
*.ttf
*.otf
*.woff
*.woff2
*.pdf
.DS_Store
__MACOSX

# Pastas típicas de exportação e backups
build/
export/
fonts/
backups/

# Ficheiros temporários / autosave do Affinity Designer
*~lock~